.pixel {
    flex: auto;
    background-color: white;
    margin: 0;
    border: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    margin: auto;
    background-color: white;
}

.line {
    width: 100%;
    display: flex;
    align-items: stretch;
}

body {
    background-color: aquamarine;
}