@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: VT323;
    color: rgb(0, 235, 0);
}

body {
    background-color: black;
    display: flex;
    margin: 0;
}

#header {
    font-size: 52px;
    margin: 35px auto;
    text-align: center;
    text-shadow: 0 0 15px;
}

#btns-div {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

button {
    font-size: 24px;
    background-color: black;
    border: solid 2px;
    text-shadow: 0 0 8px;
    box-shadow: 0 0 4px;
}

#rainbow, #gradient {
    width: 220px;
}

button:hover {
    background-color: rgb(115, 165, 115);
}

.pixel {
    flex: auto;
    background-color: white;
    margin: 0;
    border: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    margin: auto;
    background-color: white;
    border: solid 2px rgb(0, 235, 0);
    box-shadow: 0 0 4px;
}

.line {
    width: 100%;
    display: flex;
    align-items: stretch;
}

#main {
    margin: auto;
}

#manual, #spacer {
    width: 220px;
}

#spacer {
    margin-right: 6px;
}

#manual {
    font-size: 18px;
    text-shadow: 0 0 4px;
    margin-top: 200px;
    margin-left: 6px;
}

#footer p {
    text-align: center;
    font-size: 18px;
    text-shadow: 0 0 4px;
}

